extends ../layouts/main

block mainContent
    h1 Lista de Usuarios
    ul
        each user in users
            li
                | #{user.username} - #{user.role} 
                form(action=`/users/${user._id}/change-role` method="POST" style="display:inline")
                    button(type="submit") Cambiar Rol
                form(action=`/users/${user._id}/delete` method="POST" style="display:inline")
                    button(type="submit" class="button delete") Eliminar
    
    a.button(href="/posts/all-post") Volver a publicaciones
